
html {
    font-size: 62.5% ;
    scroll-behavior: smooth ;
    background-color: $color-grey ;
    text-rendering: optimizeLegibility ;
    font-family: 'Oswald' , sans-serif;


    @include respond(phone) {
        font-size: 50% ;
    }

    @include respond(tab-port) {
        font-size: 56.25% ;
    }

    @include respond(big-desktop) {
        font-size: 75% ;
    }

}


body {
    font-size: 1.6rem ;
    box-sizing: border-box ;
    line-height: 1.7 ;
}

* ,
*::before ,
*::after {
    margin: 0 ;
    padding: 0 ;
    box-sizing: inherit ;
}