

.btn {

    & ,
    &:visited ,
    &:link  {
        display: inline-block ;
        text-align: center ;
        text-decoration: none ;
        padding: 1rem 1.6rem ;
        border: none ;
        outline: none ;
        cursor: pointer;
        box-shadow: .1rem .5rem 1.5rem rgba($color-black ,.2);
        transition: all .2s ;
    }


    &--grey {
        background-color: rgba($color-grey , .5 );
        color: $color-black ;

        &:hover {
            background-color: rgba($color-white , .8 );
        }

    }

    &--white {
        background-color: $color-white ;

        &:hover {
            background-color: rgba($color-grey-dark , .3) ;
        }

    }

    &--red {
        background-color: $color-red ;
        color: $color-white ;
        font-family: 'Open-sans' , sans-serif ;
        font-size: 1.5rem ;

        &:hover {
            background-color: rgba($color-grey-dark , .2);
            color: $color-black ;

        }

    }

    &--icon {
        font-size: 1.5rem ;
        width: 1.8rem ;
        text-align: justify;
    }

    &--black {
        background-color: $color-black ;
        color: $color-white ;
        
        &:hover {
            background-color: rgba($color-grey , 1);
            color: $color-black ;
         
        }


    }

    &--sub-num {
        font-size: 1.2rem ;
        display: inline-block ;
        margin-left: .5rem ;
        height: 2rem ;
        line-height: 2rem ;
        width: 2rem ;
        text-align: center ;
        background-color: $color-white ;
        color: $color-black ;
    }

    &--full {
        width: 100% ;
    }

}



.btn-text {

    & ,
    &:link ,
    &:visited {
        display: inline-block ;
        text-decoration: none ;
        padding: .4rem .8rem  ;
        text-align: center ;
        cursor: pointer ;
        border: none ;
        outline: none ;
        transition: all .2s ;
        
    }

   &--transparent {
    background-color: transparent ;
    color: $color-black ;

    &:hover {
        background-color: $color-grey-dark;
    }

   }


}


