
.u-margin-bot-s {
    margin-bottom: .8rem !important;
}


.u-margin-bot-m {
    margin-bottom: 3.2rem !important;
}


.u-text-upcase {
    text-transform: uppercase !important ;
}


.u-text-size-b {
    font-size: 2rem !important ;
}


.u-text-center {
    text-align: center !important;
}

.u-bg-black {
    background-color: $color-black !important ;

}


.u-bg-white {
    background-color: $color-white !important ;
}


.showBox {
    display: inline-block !important ;
}
