

.content {
    padding: 2.5rem ;
    border: .1rem solid rgba($color-black , .1);
    display: grid ;
    grid-template-columns: 3fr 1.5fr ;
    column-gap: 2rem ;

    @include respond(tab-land) {
        grid-template-columns: 1fr;
    }


    &__left {
        display: flex ;
        flex-direction: column ;
    }


    &__box-content {
        width: 100% ;
    
        &:not(:first-child) {
            padding: 2rem 0 ;
            border-top: .07rem solid rgba($color-grey-dark , .05) ;
        }

        &:first-child {
            padding-bottom: 2rem ;
        }

    }


    &__blog-entry {
        width: 98% ;
        margin: 0 auto ;
        display: flex ;
        flex-direction: column ;
        padding: 2rem ;
        box-shadow: .1rem .8rem 1.5rem .1rem rgba($color-black , .1) ;
        background-color: $color-white ;

    }


    &__blog-photo {
        width: 100% ;
        margin-bottom: 3.6rem ;

    }

    &__blog-paragraph {
        font-family: 'Open-sans' , sans-serif ;
        font-size: 1.5rem ;
        text-align: justify ;

        &--strong {
            font-weight: 700 ;
        }
        
    }

    &__blog-button {
        display: flex ;
        justify-content: space-between;
        flex-wrap: nowrap ;
        margin-top: 3rem ;
        margin-bottom: 5rem ;   
    }

    &__replies-list {
        width: 100% ;
        padding-top: 2rem;
        border-top: .1rem solid rgba($color-black , .1) ;
        list-style: none ;
        display: none;
    }

    &__reply {
        width: 100% ;
        height: 10rem ;
        display: flex ;
        flex-wrap: nowrap ;

        @include respond(phone) {
            flex-direction: column ;
            height: auto ;
            row-gap: 1rem ;
        }


        &:not(:last-child) {
            margin-bottom: 3.2rem ;
        }
    }

    &__reply-avatar {
        width: 9rem ;
        height: 100% ;
        flex-shrink: 0 ;
        
    }

    &__reply-text {
        height: 100% ;
        margin-left: 5.2rem ;
        padding: .1rem 0 ;

        @include respond(phone) {
            margin-left: 0 ;
        }

    }

    &__reply-name {
        font-size: 2rem ;
        font-weight: 500 ;
        margin-bottom: .6rem ;
    }

    &__reply-date {
        font-size: 1.5rem ;
        color: $color-grey-dark;
        font-weight: 400 ;
        
    }

    &__reply-cmt {
        font-size: 1.4rem ;
        font-family: 'Open-sans' , sans-serif ;
        text-align: justify ;
    }

    &__right {
        display: flex ;
        flex-direction: column ;

    }

    &__info-box {
        width: 98% ;
        margin: 0 auto ;
        box-shadow: .1rem .6rem 1.5rem .1rem rgba($color-black , .1) ;
    }

    &__about-photo {
        width: 100% ;
        display: block ;
        object-fit: cover ;
        filter: grayscale(.7);

    }
    
    &__about-text {
        color: $color-white ;
        font-family: 'Open sans' , sans-serif;
        font-size: 1.5rem ;

    }
    
    &__posts-list {
       list-style: none ;

    }
    
    &__post-item {
        width: 100% ;
        padding: 2rem ;
        display: flex;
        align-items: center ;

        &:not(:last-child) {
            border-bottom: .1rem solid rgba($color-black , .1) ;
        }
    }

    &__post-item:last-child &__post-avatar {
        filter: sepia(60%);
    }


    &__post-avatar {
        width: 5.5rem ;
        height: 6rem ;
        flex-shrink: 0 ;
    }

    &__post-text {
        display: flex ;
        flex-direction: column ;
        margin-left: 3rem ;
        font-family: 'Open sans' , sans-serif ;
    }

    &__post-name {
        font-size: 1.8rem 
    }

    &__post-content {
        font-size: 1.4rem ;
    }

    &__advertise {
        width: 100% ;
        display: block ;
        height: 20rem ;
        line-height: 20rem ;
        text-align: center ;
        background-color: $color-grey;

    }

    &__tags-list {
        list-style: none ;
        display: flex ;
        flex-wrap: wrap ;
        column-gap: .5rem ;
        row-gap: 1rem ;
    }

    &__tag-item {
        font-size: 1.3rem ;
        padding: .1rem .6rem ;
        font-family: 'Open Sans' , sans-serif ; 
        background-color: $color-grey;

        &:first-child {
            background-color: $color-black ;
            color: $color-white ;
            transform: scale(1.15);
            margin-right: .5rem ;
        }


    }

    &__inspiration-box {
        width: 100% ;
        display: grid ;
        grid-template-columns: 1fr 1fr;
        gap: 2rem ;
        padding: 1rem 0 ;

    }

    &__inspiration-photo {
        width: 100% ;
        box-shadow: .1rem .4rem 1rem rgba($color-black , .1)  ;
    }

    &__social-box {
        display: flex ;
    }

    &__social-link {

        &:link ,
        &:visited {
            font-size: 2.4rem ;
            width: 2.4rem ;
            text-align: center ;
            color: $color-black ;
            text-decoration: none ;
            transition: all .2;
        }

        &:not(:first-child) {
            margin-left: .3rem ;
        }

        &:hover {
            opacity: .7;
        }



    }

    &__subs-form {
        padding: 1rem 0 2rem ;
    }

    &__subs-text {
        font-family: 'Open Sans' , sans-serif;
        font-size: 1.5rem ;
        text-align: justify ;

    }

    &__subs-input {
        width: 100% ;
        margin: 1.4rem 0 2rem  ;
        height: 4rem ;
        line-height: 4rem ;
        padding: 0 1.6rem ;
        font-family: 'Open-sans' ,sans-serif ;
        font-size: 1.5rem ;
        border: .1rem solid rgba($color-black , .1) ;
        box-shadow: .1rem .1rem .5rem rgba($color-black , .1) ;

    }

}





