

.footer {
    background-color: rgba($color-black , .65) ;
    padding: 4rem 5rem 6rem ;


    &__text {
        color: $color-white ;
        font-family: "Open Sans" , sans-serif ;
        font-size: 1.5rem ;
        margin-top: 3rem ;
    }

    &__link {

        &:link ,
        &:visited {
            color: $color-white ;
        }

    }

}
